In [1]:
# Import our dependencies
import os
import pandas as pd
import numpy as np

In [2]:
# Create Dataframe for war dataset
url = 'https://raw.githubusercontent.com/brianrwheatley/final-baseball-war-stats/main/Resources/jeffbagwell_war_historical.csv'
war_df = pd.read_csv(url, encoding='latin-1')
war_df.head()

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,gms_RF,gms_OF,gms_DH,gms_PH,gms_PR,prev_tm,arrived,departed,next_tm,salary
0,David Aardsma,22.0,aardsda01,2004,SFG,1,NL,Y,SFG,162,...,0.0,0.0,0.0,0.0,0.0,---,2004,2004,CHC,300000.0
1,David Aardsma,24.0,aardsda01,2006,CHC,1,NL,Y,CHC,162,...,0.0,0.0,0.0,0.0,0.0,SFG,2006,2006,CHW,NaN
2,David Aardsma,25.0,aardsda01,2007,CHW,1,AL,Y,CHW,162,...,0.0,0.0,0.0,0.0,0.0,CHC,2007,2007,BOS,387500.0
3,David Aardsma,26.0,aardsda01,2008,BOS,1,AL,Y,BOS,162,...,0.0,0.0,0.0,0.0,0.0,CHW,2008,2008,SEA,403250.0
4,David Aardsma,27.0,aardsda01,2009,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,BOS,2009,2010,NYY,419000.0

In [3]:
# Create seperate Dataframe for injury dataset
url2 = 'https://raw.githubusercontent.com/brianrwheatley/final-baseball-war-stats/finding_injury_length/final_injury_data.csv'
injury_df = pd.read_csv(url2, encoding='latin-1')
injury_df

,Unnamed: 0,Name,Team,Date,Status,injury_length,Injury,location,days_injured,year,shortname
0,0,Brian Johnson,Red Sox,6/15/17,Placed,10-day,shoulder impingement,left,NaN,2017,bjohnson
1,1,Brian Johnson,Red Sox,7/6/17,Activated,10-day,NaN,NaN,21.0,2017,bjohnson
2,2,Brian Johnson,Red Sox,7/8/18,Placed,10-day,hip inflammation,left,NaN,2018,bjohnson
3,3,Brian Johnson,Red Sox,7/15/18,Activated,10-day,NaN,NaN,7.0,2018,bjohnson
4,4,Brian Johnson,Red Sox,4/6/19,Placed,10-day,elbow inflammation,left,NaN,2019,bjohnson
...,...,...,...,...,...,...,...,...,...,...,...
14800,14800,Zack Wheeler,Mets,11/3/17,Activated,60-day,NaN,NaN,102.0,2017,zwheeler
14801,14801,Zack Wheeler,Mets,7/15/19,Placed,10-day,shoulder fatigue,right,NaN,2019,zwheeler
14802,14802,Zack Wheeler,Mets,7/26/19,Activated,10-day,NaN,NaN,11.0,2019,zwheeler
14803,14803,Zoilo Almonte,Yankees,7/20/13,Placed,15-day,sprained ankle,left,NaN,2013,zalmonte
14804,14804,Zoilo Almonte,Yankees,9/9/13,Activated,15-day,NaN,NaN,51.0,2013,zalmonte

In [4]:
# Filter Dataframe to years in question >=2010
war_df=war_df[war_df.year_ID >=2010]
war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,gms_RF,gms_OF,gms_DH,gms_PH,gms_PR,prev_tm,arrived,departed,next_tm,salary
5,David Aardsma,28.0,aardsda01,2010,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,BOS,2009,2010,NYY,2750000.0
6,David Aardsma,30.0,aardsda01,2012,NYY,1,AL,Y,NYY,162,...,0.0,0.0,0.0,0.0,0.0,SEA,2012,2012,NYM,500000.0
7,David Aardsma,31.0,aardsda01,2013,NYM,1,NL,Y,NYM,162,...,0.0,0.0,0.0,0.0,0.0,NYY,2013,2013,ATL,NaN
8,David Aardsma,33.0,aardsda01,2015,ATL,1,NL,Y,ATL,162,...,0.0,0.0,0.0,0.0,0.0,NYM,2015,2015,---,NaN
55,Fernando Abad,24.0,abadfe01,2010,HOU,1,NL,Y,HOU,162,...,0.0,0.0,0.0,0.0,0.0,---,2010,2012,WSN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111976,Mike Zunino,30.0,zuninmi01,2021,TBR,1,AL,N,TBD,162,...,0.0,0.0,0.0,5.0,0.0,SEA,2019,2022,---,2000000.0
111977,Mike Zunino,31.0,zuninmi01,2022,TBR,1,AL,N,TBD,29,...,0.0,0.0,0.0,2.0,0.0,SEA,2019,2022,---,7000000.0
112009,Tony Zych,24.0,zychto01,2015,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,NaN
112010,Tony Zych,25.0,zychto01,2016,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,511000.0
112011,Tony Zych,26.0,zychto01,2017,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,539600.0

In [5]:
# Combine same year and player in Injury_df
new_injury_df = injury_df.groupby(["Name", "year"]).agg({"Team": "first", "Name": "first", "Team" : "first","injury_length": "first", "Injury": "first", "location": "first", "days_injured" : "first", "year": "first", "shortname": "first"} )
new_injury_df.reset_index(drop=True, inplace=True)
#injury_df.groupby(["Name", "year"])
new_injury_df.to_csv("clean_injury.csv")
new_injury_df

,Team,Name,injury_length,Injury,location,days_injured,year,shortname
0,Pirates,A.J. Burnett,15-day,fractured orbital bone,right,17.0,2012,aburnett
1,Pirates,A.J. Burnett,15-day,strained calf,right,24.0,2013,aburnett
2,Pirates,A.J. Burnett,15-day,elbow inflammation,right,41.0,2015,aburnett
3,Yankees,A.J. Cole,10-day,strained neck,left,12.0,2018,acole
4,Indians,A.J. Cole,10-day,shoulder impingement,right,86.0,2019,acole
...,...,...,...,...,...,...,...,...
6101,Mets,Zack Wheeler,15-day,None,None,212.0,2015,zwheeler
6102,Mets,Zack Wheeler,15-day,None,None,214.0,2016,zwheeler
6103,Mets,Zack Wheeler,10-day,biceps tendinitis,right,10.0,2017,zwheeler
6104,Mets,Zack Wheeler,10-day,shoulder fatigue,right,11.0,2019,zwheeler
6105,Yankees,Zoilo Almonte,15-day,sprained ankle,left,51.0,2013,zalmonte

In [6]:
# Merge of dataframes to test in machine learning.  
injury_war_df = pd.merge(war_df, new_injury_df, how = 'left', left_on= ['player_name', 'year_ID'], right_on= ["Name", "year"])
injury_war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,next_tm,salary,Team,Name,injury_length,Injury,location,days_injured,year,shortname
0,David Aardsma,28.0,aardsda01,2010,SEA,1,AL,Y,SEA,162,...,NYY,2750000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,David Aardsma,30.0,aardsda01,2012,NYY,1,AL,Y,NYY,162,...,NYM,500000.0,Yankees,David Aardsma,60-day,NaN,NaN,211.0,2012.0,daardsma
2,David Aardsma,31.0,aardsda01,2013,NYM,1,NL,Y,NYM,162,...,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,David Aardsma,33.0,aardsda01,2015,ATL,1,NL,Y,ATL,162,...,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fernando Abad,24.0,abadfe01,2010,HOU,1,NL,Y,HOU,162,...,WSN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18661,Mike Zunino,30.0,zuninmi01,2021,TBR,1,AL,N,TBD,162,...,---,2000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18662,Mike Zunino,31.0,zuninmi01,2022,TBR,1,AL,N,TBD,29,...,---,7000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18663,Tony Zych,24.0,zychto01,2015,SEA,1,AL,Y,SEA,162,...,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18664,Tony Zych,25.0,zychto01,2016,SEA,1,AL,Y,SEA,162,...,---,511000.0,Mariners,Tony Zych,15-day,rotator cuff tendinitis in shoulder,right,112.0,2016.0,tzych
18665,Tony Zych,26.0,zychto01,2017,SEA,1,AL,Y,SEA,162,...,---,539600.0,Mariners,Tony Zych,10-day,recovering from surgery on biceps,right,14.0,2017.0,tzych

In [7]:
# Sort the dataset by names first, then by date
injury_war_df = injury_war_df.sort_values(by = ['player_name', 'year_ID'], ascending = [True, True], na_position = 'first')
injury_war_df.head(20)

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,next_tm,salary,Team,Name,injury_length,Injury,location,days_injured,year,shortname
54,A.J. Achter,25.0,achteaj01,2014,MIN,1,AL,Y,MIN,162,...,ANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,A.J. Achter,26.0,achteaj01,2015,MIN,1,AL,Y,MIN,162,...,ANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,A.J. Achter,27.0,achteaj01,2016,LAA,1,AL,Y,ANA,162,...,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,A.J. Alexy,23.0,alexyaj01,2021,TEX,1,AL,Y,TEX,162,...,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2232,A.J. Burnett,33.0,burnea.01,2010,NYY,1,AL,Y,NYY,162,...,PIT,16500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2233,A.J. Burnett,34.0,burnea.01,2011,NYY,1,AL,Y,NYY,162,...,PIT,16500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2234,A.J. Burnett,35.0,burnea.01,2012,PIT,1,NL,Y,PIT,162,...,PHI,16500000.0,Pirates,A.J. Burnett,15-day,fractured orbital bone,right,17.0,2012.0,aburnett
2235,A.J. Burnett,36.0,burnea.01,2013,PIT,1,NL,Y,PIT,162,...,PHI,16500000.0,Pirates,A.J. Burnett,15-day,strained calf,right,24.0,2013.0,aburnett
2236,A.J. Burnett,37.0,burnea.01,2014,PHI,1,NL,Y,PHI,162,...,PIT,15000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2237,A.J. Burnett,38.0,burnea.01,2015,PIT,1,NL,Y,PIT,162,...,---,8500000.0,Pirates,A.J. Burnett,15-day,elbow inflammation,right,41.0,2015.0,aburnett
3316,A.J. Cole,23.0,coleaj01,2015,WSN,1,NL,Y,WSN,162,...,NYY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3317,A.J. Cole,24.0,coleaj01,2016,WSN,1,NL,Y,WSN,162,...,NYY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3318,A.J. Cole,25.0,coleaj01,2017,WSN,1,NL,Y,WSN,162,...,NYY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3319,A.J. Cole,26.0,coleaj01,2018,WSN,1,NL,Y,WSN,162,...,NYY,555300.0,Yankees,A.J. Cole,10-day,strained neck,left,12.0,2018.0,acole
3320,A.J. Cole,26.0,coleaj01,2018,NYY,2,AL,Y,NYY,162,...,CLE,NaN,Yankees,A.J. Cole,10-day,strained neck,left,12.0,2018.0,acole
3321,A.J. Cole,27.0,coleaj01,2019,CLE,1,AL,Y,CLE,162,...,TOR,NaN,Indians,A.J. Cole,10-day,shoulder impingement,right,86.0,2019.0,acole
3322,A.J. Cole,28.0,coleaj01,2020,TOR,1,AL,Y,TOR,60,...,---,100000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3323,A.J. Cole,29.0,coleaj01,2021,TOR,1,AL,Y,TOR,162,...,---,1000000.0,Blue Jays,A.J. Cole,10-day,tightness in neck,None,96.0,2021.0,acole
4813,A.J. Ellis,29.0,ellisaj01,2010,LAD,1,NL,N,LAD,162,...,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,A.J. Ellis,30.0,ellisaj01,2011,LAD,1,NL,N,LAD,161,...,PHI,421000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
injury_war_df.columns

Index(['player_name', 'age', 'key_bbref', 'year_ID', 'team_ID', 'stint_ID',
       'lg_ID', 'is_P', 'franch_ID', 'sched', 'g_bat', 'pa', 'bat162',
       'bsr162', 'fld162', 'pos162', 'def162', 'rep162', 'bwar162', 'BB_plus',
       'K_plus', 'AVG_plus', 'OBP_plus', 'SLG_plus', 'wRC_plus', 'ISO_plus',
       'BABIP_plus', 'LD_plus', 'GB_plus', 'FB_plus', 'Pull_plus', 'Cent_plus',
       'Oppo_plus', 'g_pitch', 'starts', 'innings', 'relief_pct', 'avg_LI',
       'br_pwar162', 'fg_pwar162', 'ra9_pwar162', 'pwar162', 'K9_plus',
       'BB9_plus', 'KBB_plus', 'HR9_plus', 'Kpct_plus', 'BBpct_plus',
       'oppAVG_plus', 'WHIP_plus', 'oppBABIP_plus', 'LOB_plus', 'ERA_minus',
       'FIP_minus', 'xFIP_minus', 'oppLD_plus', 'oppGB_plus', 'oppFB_plus',
       'pct_PT', 'WAR162', 'gms_P', 'gms_C', 'gms_1B', 'gms_2B', 'gms_3B',
       'gms_SS', 'gms_LF', 'gms_CF', 'gms_RF', 'gms_OF', 'gms_DH', 'gms_PH',
       'gms_PR', 'prev_tm', 'arrived', 'departed', 'next_tm', 'salary', 'Team',
       'Name', 'injury_length', 'Injury', 'location', 'days_injured', 'year',
       'shortname'],
      dtype='object')

In [9]:
injury_war_df['WAR_difference'] = injury_war_df['WAR162'].diff()
injury_war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,salary,Team,Name,injury_length,Injury,location,days_injured,year,shortname,WAR_difference
54,A.J. Achter,25.0,achteaj01,2014,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,A.J. Achter,26.0,achteaj01,2015,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.116667
56,A.J. Achter,27.0,achteaj01,2016,LAA,1,AL,Y,ANA,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.386667
262,A.J. Alexy,23.0,alexyaj01,2021,TEX,1,AL,Y,TEX,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.023333
2232,A.J. Burnett,33.0,burnea.01,2010,NYY,1,AL,Y,NYY,162,...,16500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16067,Zeke Spruill,23.0,spruize01,2013,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.839524
16068,Zeke Spruill,24.0,spruize01,2014,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.523333
18010,Zelous Wheeler,27.0,wheelze01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.281667
333,Zoilo Almonte,24.0,almonzo01,2013,NYY,1,AL,N,NYY,162,...,NaN,Yankees,Zoilo Almonte,15-day,sprained ankle,left,51.0,2013.0,zalmonte,-0.205000
334,Zoilo Almonte,25.0,almonzo01,2014,NYY,1,AL,N,NYY,162,...,511300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000

In [10]:
injury_war_df['WAR_change'] = ''
injury_war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,Team,Name,injury_length,Injury,location,days_injured,year,shortname,WAR_difference,WAR_change
54,A.J. Achter,25.0,achteaj01,2014,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
55,A.J. Achter,26.0,achteaj01,2015,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.116667,
56,A.J. Achter,27.0,achteaj01,2016,LAA,1,AL,Y,ANA,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.386667,
262,A.J. Alexy,23.0,alexyaj01,2021,TEX,1,AL,Y,TEX,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.023333,
2232,A.J. Burnett,33.0,burnea.01,2010,NYY,1,AL,Y,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16067,Zeke Spruill,23.0,spruize01,2013,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.839524,
16068,Zeke Spruill,24.0,spruize01,2014,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.523333,
18010,Zelous Wheeler,27.0,wheelze01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.281667,
333,Zoilo Almonte,24.0,almonzo01,2013,NYY,1,AL,N,NYY,162,...,Yankees,Zoilo Almonte,15-day,sprained ankle,left,51.0,2013.0,zalmonte,-0.205000,
334,Zoilo Almonte,25.0,almonzo01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000,

In [11]:
injury_war_df['WAR_difference'] = injury_war_df['WAR_difference'].fillna(0)
injury_war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,Team,Name,injury_length,Injury,location,days_injured,year,shortname,WAR_difference,WAR_change
54,A.J. Achter,25.0,achteaj01,2014,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,
55,A.J. Achter,26.0,achteaj01,2015,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.116667,
56,A.J. Achter,27.0,achteaj01,2016,LAA,1,AL,Y,ANA,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.386667,
262,A.J. Alexy,23.0,alexyaj01,2021,TEX,1,AL,Y,TEX,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.023333,
2232,A.J. Burnett,33.0,burnea.01,2010,NYY,1,AL,Y,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16067,Zeke Spruill,23.0,spruize01,2013,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.839524,
16068,Zeke Spruill,24.0,spruize01,2014,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.523333,
18010,Zelous Wheeler,27.0,wheelze01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.281667,
333,Zoilo Almonte,24.0,almonzo01,2013,NYY,1,AL,N,NYY,162,...,Yankees,Zoilo Almonte,15-day,sprained ankle,left,51.0,2013.0,zalmonte,-0.205000,
334,Zoilo Almonte,25.0,almonzo01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000,

In [12]:
injury_war_df["WAR_change"] = np.where(injury_war_df["WAR_difference"] > 0, 1, 0)
injury_war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,Team,Name,injury_length,Injury,location,days_injured,year,shortname,WAR_difference,WAR_change
54,A.J. Achter,25.0,achteaj01,2014,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0
55,A.J. Achter,26.0,achteaj01,2015,MIN,1,AL,Y,MIN,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.116667,0
56,A.J. Achter,27.0,achteaj01,2016,LAA,1,AL,Y,ANA,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.386667,1
262,A.J. Alexy,23.0,alexyaj01,2021,TEX,1,AL,Y,TEX,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.023333,0
2232,A.J. Burnett,33.0,burnea.01,2010,NYY,1,AL,Y,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16067,Zeke Spruill,23.0,spruize01,2013,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.839524,0
16068,Zeke Spruill,24.0,spruize01,2014,ARI,1,NL,Y,ARI,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.523333,1
18010,Zelous Wheeler,27.0,wheelze01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.281667,0
333,Zoilo Almonte,24.0,almonzo01,2013,NYY,1,AL,N,NYY,162,...,Yankees,Zoilo Almonte,15-day,sprained ankle,left,51.0,2013.0,zalmonte,-0.205000,0
334,Zoilo Almonte,25.0,almonzo01,2014,NYY,1,AL,N,NYY,162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000,1